@charset "UTF-8";
h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: bolder;
  font-size: 5em;
  margin: 0;
}

h2 {
  font-family: "League Spartan", sans-serif;
  font-weight: bolder;
  font-size: 4em;
  margin: 0;
  color: #1C1C1C;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-size: 3em;
  margin: 0;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  margin: 0;
}

button {
  font-family: "League Spartan", sans-serif !important;
  font-size: 1.1em !important;
  padding: 0.4em 0.8em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: end;
  gap: 0.6em;
  color: #392F7F;
}
.logo h1 {
  font-size: 2.6em;
}

.btn-primario {
  background-color: #735FFF;
  color: #f5f5f5;
}

.btn-secundario {
  background-color: #735FFF;
  color: #f5f5f5;
}

.btn-terciario {
  background-color: #5B567F;
  color: #f5f5f5;
}

.btn-blanco {
  background-color: #f5f5f5;
  color: #1C1C1C;
}

.hr {
  border-bottom: 1px solid #cacaca;
  margin: 1em 0;
}

.color-oro {
  color: #f3da35;
}

.color-primario {
  color: #392F7F;
}

.color-secundario {
  color: #735FFF;
}

.bg-secundario {
  background-color: #735FFF;
}

.bg-blanco {
  background-color: #f5f5f5;
}

h2.titulo-pagina {
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 1.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-fluid {
  width: 98% !important;
}

.contenedor-pagina {
  margin-top: 5.2em;
}

@media (min-width: 1440px) {
  .container-fluid {
    width: 90% !important;
  }
  .contenedor-pagina {
    margin-top: 6em;
  }
}
.modal {
  z-index: 100000;
}

.contenedor-landing-page {
  height: 100vh;
  background-image: url(../img/landingPageBackgroundMobile.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .contenedor-landing-page {
    background-image: url(../img/landingPageBackground.svg);
  }
}

.contenido-landing-page {
  display: block;
  padding: 3em 0;
  width: 100%;
}
@media (min-width: 768px) {
  .contenido-landing-page {
    display: grid;
    grid-template-columns: 0.85fr 1fr;
  }
}
.contenido-landing-page .contenedor-texto-landing-page {
  text-align: center;
}
.contenido-landing-page .contenedor-texto-landing-page .logo {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page .logo {
    justify-content: flex-start;
    margin-bottom: 3em !important;
  }
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page {
    text-align: left;
  }
}
.contenido-landing-page .contenedor-texto-landing-page h2 {
  font-size: 3em;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page h2 {
    font-size: 4em;
  }
}
.contenido-landing-page .contenedor-texto-landing-page .landing-page-tags {
  display: none;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page .landing-page-tags {
    display: block;
  }
}
.contenido-landing-page .contenedor-texto-landing-page .contenedor-botones-landing-page {
  display: flex;
  height: 40vh;
  align-items: end;
  justify-content: center;
  gap: 2em;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page .contenedor-botones-landing-page {
    height: auto;
    justify-content: flex-start;
  }
}
.contenido-landing-page .contenedor-texto-landing-page .contenedor-botones-landing-page .btn-secundario {
  border: 1px solid #f5f5f5;
  background-color: transparent;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page .contenedor-botones-landing-page .btn-secundario {
    border: none;
    background-color: #735FFF;
  }
}
.contenido-landing-page .contenedor-imagen-landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  bottom: 0;
  z-index: 1;
  height: 35vh;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-imagen-landing-page {
    justify-content: end;
    position: static;
    height: auto;
  }
}
.contenido-landing-page .contenedor-imagen-landing-page img {
  width: 80%;
}

.navbar {
  background-color: white !important;
  padding: 0.6em 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.navbar a {
  text-decoration: none;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar-nav {
  gap: 1.4em;
}
.navbar-nav li {
  display: flex;
  align-items: center;
}
.navbar-nav li .nav-link {
  color: #1C1C1C;
}
.navbar-nav li .nav-link.active {
  color: #392F7F;
}
.navbar-nav li i {
  font-size: 1.4em;
}

@media (min-width: 768px) {
  .navbar-nav {
    margin: 0 0 0 auto !important;
  }
}
.navbar-brand {
  display: flex;
  align-items: flex-end;
  gap: 0.4em;
}

@media (min-width: 768px) {
  .navbar-brand {
    justify-content: flex-start;
  }
}
.navbar-collapse {
  margin-top: 1.4em;
}
.navbar-collapse .nav-item {
  height: 40px;
  width: 100%;
  font-weight: 600;
}
.navbar-collapse .nav-item:first-child {
  margin-top: 1em;
}
.navbar-collapse .nav-item:last-child {
  border: none;
}

@media (min-width: 768px) {
  .navbar-collapse {
    margin-top: 0;
  }
  .navbar-collapse form .input-group {
    width: 100%;
  }
  .navbar-collapse form .input-group input {
    width: 20vw;
  }
  .navbar-collapse .nav-item {
    border: none;
    height: auto;
    width: auto;
  }
  .navbar-collapse .nav-item:first-child {
    margin-top: 0;
  }
}
.link-carrito {
  padding-right: 0.8em;
}

@media (min-width: 768px) {
  .link-carrito {
    padding-right: 0;
  }
}
.footer {
  margin-top: 3em;
  background-color: #f5f5f5;
  padding: 3em 0 4em 0;
}
.footer .navbar-brand {
  display: flex;
  justify-content: center !important;
  margin-bottom: 1.4em;
}
.footer h6 {
  text-align: center;
  font-weight: 600;
}

.contenedor-home .contenido-home .hero-home {
  background-image: url(../img/business-3293079_1920.jpg);
  width: 100%;
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modulo-home {
  padding: 2.4em 0;
}

.contenedor-promocion-home1 {
  text-align: center;
}
.contenedor-promocion-home1 h5 {
  margin-bottom: 1em;
}
.contenedor-promocion-home1 h5 span {
  color: #735FFF;
  font-weight: bolder;
}
.contenedor-promocion-home1 h2 {
  font-size: 3.2em;
  letter-spacing: 0.15em;
}
.contenedor-promocion-home1 h6 {
  line-height: 1.6em;
}

.contenedor-promocion-home2 .imagen-promocion-home2 {
  width: 100%;
  height: 40vh;
  background-image: url(../img/vr.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.contenedor-promocion-home2 .imagen-promocion-home2 .contenido-imagen-promocion {
  position: absolute;
  bottom: 0;
  padding: 1em;
}
.contenedor-promocion-home2 .imagen-promocion-home2 .contenido-imagen-promocion h2 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
  color: #f5f5f5;
}

.contenedor-promocion-home3 .imagen-promocion-home3 {
  width: 100%;
  height: 40vh;
  margin-bottom: 1.4em;
  background-image: url(../img/laptop.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.contenedor-promocion-home3 h2 {
  font-size: 2em;
  margin-bottom: 0.2em;
}
.contenedor-promocion-home3 h4 {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 1em;
}

.contenedor-secciones-productos {
  display: grid;
  grid-template-columns: 1fr;
}
.contenedor-secciones-productos .seccion-productos h3.titulo-seccion-productos {
  font-size: 1.4em;
  margin-top: 0.6em;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos {
  width: 360px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  list-style: none;
  padding: 0;
  width: 100%;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto {
  width: 300px !important;
  height: 400px;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
  border: none;
  text-decoration: none;
  border-radius: 0;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto .imagen-producto {
  width: 100%;
  height: 300px;
  background-image: url(../img/producto.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h4.categoria-producto {
  font-size: 1em;
  font-weight: normal;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h2.nombre-producto {
  font-size: 1.2em;
  font-weight: normal;
  color: #1C1C1C;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h4.precio-producto {
  font-size: 1.2em;
  font-weight: bold;
  color: #1C1C1C;
}

.contenedor-secciones-categorias {
  display: grid;
  grid-template-columns: 1fr;
}
.contenedor-secciones-categorias .seccion-categorias h3.titulo-seccion-productos {
  font-size: 1.4em;
  margin-top: 0.6em;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias {
  width: 350px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  list-style: none;
  padding: 0;
  width: 100%;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria {
  width: 300px !important;
  height: 400px;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria {
  width: 100%;
  height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria .contenido-categoria {
  position: absolute;
  bottom: 0;
  padding: 1em;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria .contenido-categoria h2 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
  color: #f5f5f5;
}

@media (min-width: 1440px) {
  .contenedor-home .contenido-home .hero-home {
    height: 65vh;
    background-position: center 20%;
  }
  .contenedor-promocion-home2 .imagen-promocion-home2 {
    height: 70vh;
    background-position: center 20%;
  }
  .contenedor-promocion-home2 .imagen-promocion-home2 .contenido-imagen-promocion {
    padding: 1.6em;
  }
  .contenedor-promocion-home2 .imagen-promocion-home2 .contenido-imagen-promocion h2 {
    font-size: 2.8em;
    margin-bottom: 0.2em;
  }
  .contenedor-promocion-home3 .imagen-promocion-home3 {
    height: 60vh;
    margin-bottom: 1.4em;
  }
  .contenedor-promocion-home3 h2 {
    font-size: 2.6em;
    margin-bottom: 0.2em;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos {
    padding-bottom: 1.6em;
    width: 1350px;
    overflow-x: scroll;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto {
    width: 500px !important;
    height: 500px;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto .imagen-producto {
    height: 400px;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h4.categoria-producto {
    font-size: 1em;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h2.nombre-producto {
    font-size: 1.2em;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h4.precio-producto {
    font-size: 1.2em;
  }
  .contenedor-secciones-categorias .seccion-categorias .contenedor-categorias {
    padding-bottom: 1.6em;
    width: 1365px;
    overflow-x: scroll;
  }
  .contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria {
    width: 400px !important;
    height: 500px;
  }
  .contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria {
    height: 500px;
  }
  .contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria .contenido-categoria {
    position: absolute;
    bottom: 0;
    padding: 1.4em;
  }
  .contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria .contenido-categoria h2 {
    font-size: 1.8em;
    margin-bottom: 0.4em;
  }
}
.modulo-producto {
  padding: 2em 0;
}

.informacion-producto .nombre-producto {
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 0.2em;
}
.informacion-producto .precio-calificacion h2.precio-producto {
  font-size: 1.4em;
}
.informacion-producto .precio-calificacion h5 {
  font-size: 1.2em;
}
.informacion-producto h5.disponibilidad-producto span {
  color: #392F7F;
  font-weight: bolder;
}
.informacion-producto .descripcion-producto p {
  text-align: justify;
}

#carouselProducto .muestra-multimedia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 0.8em;
}
#carouselProducto .muestra-multimedia video {
  width: 100%;
  height: auto;
}
#carouselProducto .muestra-multimedia2, #carouselProducto .muestra-multimedia3, #carouselProducto .muestra-multimedia4 {
  background-color: transparent;
  background-image: url(../img/producto.webp);
}

.contenedor-thumbnails-productos {
  width: 390px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 1em;
}
.contenedor-thumbnails-productos .contenido-thumbnails-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8em;
}
.contenedor-thumbnails-productos .contenido-thumbnails-productos .thumbnail-multimedia {
  border-radius: 6px;
  width: 150px;
  height: 150px;
  background-image: url(../img/producto.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.botones-producto button {
  width: 100%;
  font-weight: 500;
}
.botones-producto button:last-child {
  background-color: transparent;
  border: 2px solid #735FFF;
  color: #735FFF;
}

.descripcion-producto p {
  line-height: 1.8em;
  font-weight: 500;
}

.contenedor-comentarios {
  width: 100%;
}
.contenedor-comentarios p {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  padding: 1.4em 0;
}
.contenedor-comentarios p a.header-comentarios {
  text-decoration: none;
  color: #1C1C1C;
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.contenedor-comentarios .collapse a.boton-escribir-comentario {
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: underline;
  color: #1C1C1C;
}
.contenedor-comentarios .collapse .comentario {
  padding: 0.6em 0;
}
.contenedor-comentarios .collapse .comentario:first-of-type {
  margin-top: 1.6em;
}
.contenedor-comentarios .collapse .comentario .titulo-comentario > h2 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
}
.contenedor-comentarios .collapse .comentario .calificacion-comentario > h4, .contenedor-comentarios .collapse .comentario .usuario-fecha-comentario > h4 {
  display: flex;
  align-items: center;
  font-size: 1em;
  margin: 0;
}
.contenedor-comentarios .collapse .comentario .usuario-fecha-comentario {
  display: flex;
  gap: 0.4em;
}
.contenedor-comentarios .collapse .comentario .contenido-comentario > p {
  border: none;
}

#comentarioModal .star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
#comentarioModal .radio-input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#comentarioModal .radio-label {
  cursor: pointer;
  font-size: 0;
  color: rgba(0, 0, 0, 0.2);
  transition: color 0.1s ease-in-out;
}
#comentarioModal .radio-label:before {
  content: "★";
  display: inline-block;
  font-size: 32px;
}
#comentarioModal .radio-input:checked ~ .radio-label {
  color: #735FFF;
}
#comentarioModal .radio-label:hover,
#comentarioModal .radio-label:hover ~ .radio-label {
  color: #735FFF;
}
#comentarioModal .radio-input:checked + .radio-label:hover,
#comentarioModal .radio-input:checked + .radio-label:hover ~ .radio-label,
#comentarioModal .radio-input:checked ~ .radio-label:hover,
#comentarioModal .radio-input:checked ~ .radio-label:hover ~ .radio-label,
#comentarioModal .radio-label:hover ~ .radio-input:checked ~ .radio-label {
  color: #392F7F;
}

@media (min-width: 1440px) {
  .contenedor-multimedia-producto #carouselProducto .muestra-multimedia {
    height: 450px;
  }
  .contenedor-multimedia-producto .modulo-producto {
    padding: 0;
  }
  .contenedor-producto {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid: 2em;
    width: 90%;
    margin: 0 auto;
  }
  .contenedor-producto .contenedor-info-producto {
    grid-column: 2/3;
    height: 85vh;
    overflow-y: scroll;
    width: auto;
  }
  .contenedor-producto .contenedor-multimedia-producto {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .contenedor-producto .contenedor-multimedia-producto .contenedor-thumbnails-productos {
    width: 760px;
  }
}
.contenedor-carrito .contenedor-productos-carrito {
  margin-top: 1em;
  margin-bottom: 10em;
  overflow-y: scroll;
  min-height: 40vh;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1.4em 0.1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.4em;
  padding: 1em;
  position: relative;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito:first-of-type {
  margin-top: 0;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .imagen-producto-carrito {
  width: 40%;
  background-image: url(../img/producto.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito {
  width: 60%;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito h2 {
  font-weight: 500;
  font-size: 1.2em;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito h4 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito #inputCantidad {
  text-align: center;
  font-weight: 500;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .boton-quitar-producto {
  position: absolute;
  left: 0;
  top: 0;
}

.contenedor-total-carrito {
  width: 100%;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  border-radius: 1em 1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 3;
  background-color: white;
}
.contenedor-total-carrito .contenido-total-carrito h2 {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.contenedor-total-carrito .contenido-total-carrito h2 span {
  color: #392F7F;
  font-weight: 600;
}
.contenedor-total-carrito .contenido-total-carrito h2:last-of-type {
  margin-bottom: 1em;
}
@media (min-width: 1440px) {
  .contenedor-carrito {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 2em;
  }
  .contenedor-carrito .contenedor-productos-carrito {
    max-height: 65vh;
    overflow-y: scroll;
  }
  .contenedor-carrito .contenedor-productos-carrito .imagen-producto-carrito {
    width: 30%;
    min-height: 150px;
  }
  .contenedor-carrito .contenedor-total-carrito {
    max-height: 150px;
  }
  .contenedor-carrito .contenedor-total-carrito h4 {
    text-align: left;
  }
}
.foto-perfil {
  height: 80px;
  width: 80px;
  background-image: url(../img/avatar.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.boton-editar-foto {
  bottom: 0;
  right: 0;
}

@media (min-width: 1440px) {
  .foto-perfil {
    height: 100px;
    width: 100px;
  }
}
.contenedor-pagina-chat {
  margin-top: 4.8em;
}

.contenedor-chat .contacto {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 1.4em;
  align-items: center;
  cursor: pointer;
  color: #1C1C1C;
  padding: 0 1em 1em 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contenedor-chat .contacto img {
  width: 13%;
}
.contenedor-chat .contacto a {
  text-decoration: none;
}
.contenedor-chat .contacto a h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}
.contenedor-chat .contacto .informacion-perfil-mensaje {
  width: 80%;
  margin: 0 auto;
}
.contenedor-chat .contenedor-mensajes {
  padding: 1.4em 1em 0 1em;
  height: 65.9vh;
  overflow-y: scroll;
}
.contenedor-chat .contenedor-mensajes .mensaje {
  margin-bottom: 1em;
  display: flex;
}
.contenedor-chat .contenedor-mensajes .mensaje-local {
  background-color: #f5f5f5;
  justify-content: flex-end;
  max-width: 60%;
  padding: 0.6em 1em;
}
.contenedor-chat .contenedor-mensajes .mensaje-remoto {
  background-color: #735FFF;
  color: #f5f5f5;
  justify-content: flex-start;
  max-width: 60%;
  padding: 0.6em 1em;
  margin: 0 0 0 auto;
}
.contenedor-chat .contenedor-input-mensaje {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 1em;
}

#productoModal .producto {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}
#productoModal .producto .imagen-producto {
  height: 100px;
  width: 100px;
  background-image: url(../img/producto.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#productoModal .producto .informacion-producto h4 {
  font-size: 1em;
  margin-bottom: 0.2em;
}
#productoModal .producto .informacion-producto h2 {
  font-size: 1.4em;
  font-weight: 500;
}

@media (min-width: 1440px) {
  .contacto img {
    width: 60px;
  }
  .contacto .informacion-perfil-mensaje {
    width: 90%;
  }
  .contenedor-chat .contenedor-mensajes {
    height: 65vh;
  }
  .contenedor-chat .contenedor-mensajes .producto-carrito .imagen-producto-carrito {
    width: 20%;
  }
  .contenedor-chat .contenedor-mensajes .mensaje-local {
    max-width: 40%;
  }
  .contenedor-chat .contenedor-mensajes .mensaje-remoto {
    max-width: 40%;
  }
}
.contenedor-productos-busqueda .producto-busqueda {
  display: flex;
  flex-direction: row;
  gap: 1em;
  text-decoration: none;
  margin-bottom: 1em;
  border: none;
  background-color: #f5f5f5;
}
.contenedor-productos-busqueda .producto-busqueda .imagen-producto-busqueda {
  height: 100px;
  width: 30%;
  background-image: url(../img/producto.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contenedor-productos-busqueda .producto-busqueda .informacion-producto-busqueda h4 {
  font-size: 1em;
  margin-bottom: 0.2em;
}
.contenedor-productos-busqueda .producto-busqueda .informacion-producto-busqueda h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.2em;
}
.contenedor-productos-busqueda .producto-busqueda .informacion-producto-busqueda .calificacion-producto-busqueda {
  font-size: 1em;
  display: flex;
  gap: 0.4em;
}

@media (min-width: 1440px) {
  .contenedor-productos-busqueda {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6em;
  }
  .contenedor-productos-busqueda .producto-busqueda {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    text-decoration: none;
    margin: 0;
  }
  .contenedor-productos-busqueda .producto-busqueda .imagen-producto-busqueda {
    margin: 0 auto;
  }
  .contenedor-productos-busqueda .producto-busqueda .informacion-producto-busqueda {
    text-align: center;
  }
  .contenedor-productos-busqueda .producto-busqueda .informacion-producto-busqueda .calificacion-producto-busqueda {
    justify-content: center;
  }
}
.producto-wishlist {
  display: flex;
  flex-direction: row;
  gap: 1.4em;
}
.producto-wishlist .imagen-producto-wishlist {
  height: 170px;
  width: 50%;
  background-image: url(../img/producto.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.producto-wishlist .informacion-producto-wishlist h4 {
  font-size: 1em;
}
.producto-wishlist .informacion-producto-wishlist h5 {
  font-size: 1.2em;
  font-weight: bold;
}

.accordion-button::after {
  margin-left: 0;
  background: none;
}

.accordion-button:not(.collapsed)::after {
  background: none;
}

.contenedor-wishlist-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.boton-wishlist {
  width: 100%;
  margin-bottom: 0.4em;
}

.calificacion-producto-wishlist {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

@media (min-width: 1440px) {
  .producto-wishlist .imagen-producto-wishlist {
    width: 20%;
    height: 120px;
  }
  .producto-wishlist .informacion-producto-wishlist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contenedor-wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .boton-wishlist {
    width: auto;
  }
}
.contactos {
  list-style: none;
  padding: 0;
  margin-top: 0.6em;
  min-height: 51.5vh;
  overflow-y: scroll;
}
.contactos .contacto-item {
  padding: 1em;
  border: none !important;
  border-radius: 0.4em;
  margin: 0.4em 0.1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.contactos .contacto-item a.contacto {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 0;
  border: none;
  text-decoration: none;
}
.contactos .contacto-item a.contacto:first-of-type {
  padding-top: 0;
}
.contactos .contacto-item a.contacto .imagen-contacto {
  width: 50px;
  height: 50px;
  background-image: url(../img/avatar.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactos .contacto-item a.contacto .informacion-contacto {
  width: 255px;
}
.contactos .contacto-item a.contacto .informacion-contacto h2 {
  font-size: 1.2em;
  margin: 0;
}
.contactos .contacto-item a.contacto .informacion-contacto p {
  text-overflow: fade;
}

.contenedor-login {
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.contenedor-hero-login {
  height: 100vh;
  background-image: url(../img/hero-login.svg);
  background-repeat: no repeat;
  background-position: center center;
  background-size: cover;
  color: #f5f5f5;
  position: relative;
}
.contenedor-hero-login .contenido-hero-login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2em 5em;
}
.contenedor-hero-login .contenido-hero-login .logo h2 {
  font-size: 2.5em;
}
.contenedor-hero-login .contenido-hero-login .eslogan ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 5em;
}
.contenedor-hero-login .contenido-hero-login .eslogan ul li h3 {
  font-size: 1.5em;
  margin: 0 0.5em 0 0;
}
.contenedor-hero-login .contenido-hero-login .texto-hero-login {
  font-family: "Nunito", sans-serif;
}
.contenedor-hero-login::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.contenedor-formulario-login {
  padding: 2em 3em;
}

/*# sourceMappingURL=main.css.map */
