@charset "UTF-8";
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: bolder;
  font-size: 5em;
  margin: 0;
}

h2 {
  font-family: "League Spartan", sans-serif;
  font-weight: bolder;
  font-size: 4em;
  margin: 0;
  color: #1C1C1C;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 3em;
  margin: 0;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  margin: 0;
}

p {
  font-family: "Nunito", sans-serif;
}

button {
  font-family: "League Spartan", sans-serif !important;
  font-size: 1.1em !important;
  padding: 0.4em 0.8em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

label, input {
  font-family: "Lato", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  align-items: end;
  gap: 0.6em;
  color: #392F7F;
}
.logo h1 {
  font-size: 2.6em;
}

.btn-primario {
  background-color: #735FFF;
  color: #f5f5f5;
}
.btn-primario:hover {
  background-color: #392F7F;
  color: #f5f5f5;
}

.btn-secundario {
  background-color: #735FFF;
  color: #f5f5f5;
}

.btn-terciario {
  background-color: #5B567F;
  color: #f5f5f5;
}

.btn-blanco {
  background-color: #f5f5f5;
  color: #1C1C1C;
}

.hr {
  border-bottom: 1px solid #cacaca;
  margin: 1em 0;
}

.color-oro {
  color: #f3da35;
}

.color-primario {
  color: #392F7F;
}

.color-secundario {
  color: #735FFF;
}

.bg-secundario {
  background-color: #735FFF;
}

.bg-blanco {
  background-color: #f5f5f5;
}

.contenedor-titulo-pagina {
  padding: 1.2em 0;
}
.contenedor-titulo-pagina .contenido-titulo-pagina {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.contenedor-titulo-pagina .contenido-titulo-pagina h2 {
  font-size: 1.8em;
  font-weight: 600;
}

.dropdown-menu {
  z-index: 10000;
}

.container-fluid {
  width: 95% !important;
}

.contenedor-pagina {
  margin-top: 3.8em;
}

@media (min-width: 1440px) {
  .container-fluid {
    width: 80% !important;
  }
  .contenedor-pagina {
    margin-top: 4.4em;
  }
  .contenedor-titulo-pagina {
    margin-bottom: 1.6em;
    padding: 2.2em 0 1em 0;
    box-shadow: none;
  }
  .contenedor-titulo-pagina .contenido-titulo-pagina {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    align-items: center;
    margin: 0 auto;
  }
  .contenedor-titulo-pagina .contenido-titulo-pagina h2 {
    font-size: 1.8em;
    font-weight: 600;
  }
}
.modal {
  z-index: 100000;
}

.btn-outline-secundario {
  color: #735FFF;
  border: 1px solid #735FFF;
}

.contenedor-landing-page {
  height: 100vh;
  background-image: url(../img/landingPageBackgroundMobile.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .contenedor-landing-page {
    background-image: url(../img/landingPageBackground.svg);
  }
}

.contenido-landing-page {
  display: block;
  padding: 3em 0;
  width: 100%;
}
@media (min-width: 768px) {
  .contenido-landing-page {
    display: grid;
    grid-template-columns: 0.85fr 1fr;
  }
}
.contenido-landing-page .contenedor-texto-landing-page {
  text-align: center;
}
.contenido-landing-page .contenedor-texto-landing-page .logo {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page .logo {
    justify-content: flex-start;
    margin-bottom: 3em !important;
  }
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page {
    text-align: left;
  }
}
.contenido-landing-page .contenedor-texto-landing-page h2 {
  font-size: 3em;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page h2 {
    font-size: 4em;
  }
}
.contenido-landing-page .contenedor-texto-landing-page .landing-page-tags {
  display: none;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page .landing-page-tags {
    display: block;
  }
}
.contenido-landing-page .contenedor-texto-landing-page .contenedor-botones-landing-page {
  display: flex;
  height: 40vh;
  align-items: end;
  justify-content: center;
  gap: 2em;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page .contenedor-botones-landing-page {
    height: auto;
    justify-content: flex-start;
  }
}
.contenido-landing-page .contenedor-texto-landing-page .contenedor-botones-landing-page .btn-secundario {
  border: 1px solid #f5f5f5;
  background-color: transparent;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-texto-landing-page .contenedor-botones-landing-page .btn-secundario {
    border: none;
    background-color: #735FFF;
  }
}
.contenido-landing-page .contenedor-imagen-landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  bottom: 0;
  z-index: 1;
  height: 35vh;
}
@media (min-width: 768px) {
  .contenido-landing-page .contenedor-imagen-landing-page {
    justify-content: end;
    position: static;
    height: auto;
  }
}
.contenido-landing-page .contenedor-imagen-landing-page img {
  width: 80%;
}

.navbar {
  background-color: white !important;
  padding: 0.6em 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.navbar a {
  text-decoration: none;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar-nav {
  gap: 1.4em;
}
.navbar-nav li {
  display: flex;
  align-items: center;
}
.navbar-nav li .nav-link {
  color: #1C1C1C;
}
.navbar-nav li .nav-link.active {
  color: #392F7F;
}
.navbar-nav li i {
  font-size: 1.4em;
}

@media (min-width: 768px) {
  .navbar-nav {
    margin: 0 0 0 auto !important;
  }
}
.navbar-brand {
  display: flex;
  align-items: flex-end;
  gap: 0.4em;
}

@media (min-width: 768px) {
  .navbar-brand {
    justify-content: flex-start;
  }
}
.navbar-collapse {
  margin-top: 1.4em;
}
.navbar-collapse .nav-item {
  height: 40px;
  width: 100%;
  font-weight: 600;
}
.navbar-collapse .nav-item:first-child {
  margin-top: 1em;
}
.navbar-collapse .nav-item:last-child {
  border: none;
}

@media (min-width: 768px) {
  .navbar-collapse {
    margin-top: 0;
  }
  .navbar-collapse form .input-group {
    width: 100%;
  }
  .navbar-collapse form .input-group input {
    width: 20vw;
  }
  .navbar-collapse .nav-item {
    border: none;
    height: auto;
    width: auto;
  }
  .navbar-collapse .nav-item:first-child {
    margin-top: 0;
  }
}
.link-carrito {
  padding-right: 0.8em;
}

@media (min-width: 768px) {
  .link-carrito {
    padding-right: 0;
  }
}
.footer {
  margin-top: 3em;
  background-color: #f5f5f5;
  padding: 3em 0 4em 0;
}
.footer .navbar-brand {
  display: flex;
  justify-content: center !important;
  margin-bottom: 1.4em;
}
.footer h6 {
  text-align: center;
  font-weight: 600;
}

.contenedor-home .contenido-home .hero-home {
  background-image: url(../img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2em 1.4em;
}
.contenedor-home .contenido-home .hero-home .texto-hero-home {
  text-align: center;
  color: #f5f5f5;
}
.contenedor-home .contenido-home .hero-home .texto-hero-home h5 {
  margin-bottom: 1em;
}
.contenedor-home .contenido-home .hero-home .texto-hero-home h5 span {
  color: #f5f5f5;
  font-weight: bolder;
}
.contenedor-home .contenido-home .hero-home .texto-hero-home h2 {
  font-size: 3.2em;
  letter-spacing: 0.1em;
  color: #f5f5f5;
}
.contenedor-home .contenido-home .hero-home .texto-hero-home h6 {
  line-height: 1.6em;
  color: #f5f5f5;
}

.modulo-home {
  padding: 2.4em 0;
}

.contenedor-promocion-home2 .imagen-promocion-home2 {
  width: 100%;
  height: 40vh;
  background-image: url(../img/vr.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.contenedor-promocion-home2 .imagen-promocion-home2 .contenido-imagen-promocion {
  position: absolute;
  bottom: 0;
  padding: 1em;
}
.contenedor-promocion-home2 .imagen-promocion-home2 .contenido-imagen-promocion h2 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
  color: #f5f5f5;
}

.contenedor-promocion-home3 .imagen-promocion-home3 {
  width: 100%;
  height: 40vh;
  margin-bottom: 1.4em;
  background-image: url(../img/laptop.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.contenedor-promocion-home3 h2 {
  font-size: 2em;
  margin-bottom: 0.2em;
}
.contenedor-promocion-home3 h4 {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 1em;
}

.contenedor-secciones-productos {
  display: grid;
  grid-template-columns: 1fr;
}
.contenedor-secciones-productos .seccion-productos h3.titulo-seccion-productos {
  font-size: 1.4em;
  margin-top: 0.6em;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos {
  width: 91vw;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  list-style: none;
  padding: 0;
  width: 100%;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto {
  width: 300px !important;
  height: 400px;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
  border: none;
  text-decoration: none;
  border-radius: 0;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto .imagen-producto {
  width: 100%;
  height: 300px;
  background-image: url(../img/producto.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h4.categoria-producto {
  font-size: 1em;
  font-weight: normal;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h2.nombre-producto {
  font-size: 1.2em;
  font-weight: normal;
  color: #1C1C1C;
}
.contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h4.precio-producto {
  font-size: 1.2em;
  font-weight: bold;
  color: #1C1C1C;
}

.contenedor-secciones-categorias {
  display: grid;
  grid-template-columns: 1fr;
}
.contenedor-secciones-categorias .seccion-categorias h3.titulo-seccion-productos {
  font-size: 1.4em;
  margin-top: 0.6em;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias {
  width: 91vw;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  list-style: none;
  padding: 0;
  width: 100%;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria {
  width: 300px !important;
  height: 400px;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria {
  width: 100%;
  height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria .contenido-categoria {
  position: absolute;
  bottom: 0;
  padding: 1em;
}
.contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria .contenido-categoria h2 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
  color: #f5f5f5;
}

@media (min-width: 768px) {
  .modulo-home {
    padding: 3.2em 0;
  }
  .contenedor-home {
    margin-bottom: 3em;
  }
  .contenedor-home .contenido-home .hero-home {
    height: 100vh;
    background-position: center 35%;
    padding: 4em 2em;
  }
  .contenedor-home .contenido-home .hero-home .texto-hero-home {
    text-align: center;
    color: #f5f5f5;
  }
  .contenedor-home .contenido-home .hero-home .texto-hero-home h5 {
    margin-bottom: 1em;
    font-size: 2.4em;
  }
  .contenedor-home .contenido-home .hero-home .texto-hero-home h5 span {
    color: #f5f5f5;
    font-weight: bolder;
  }
  .contenedor-home .contenido-home .hero-home .texto-hero-home h2 {
    font-size: 6em;
    letter-spacing: 0.1em;
    color: #f5f5f5;
  }
  .contenedor-home .contenido-home .hero-home .texto-hero-home h6 {
    font-size: 2.2em;
    line-height: 1.6em;
    color: #f5f5f5;
  }
  .contenedor-home .contenido-home .hero-home .texto-hero-home button {
    font-size: 4em;
  }
  .contenedor-promocion-home2 .imagen-promocion-home2 {
    height: 70vh;
    background-position: center 20%;
  }
  .contenedor-promocion-home2 .imagen-promocion-home2 .contenido-imagen-promocion {
    padding: 1.6em;
  }
  .contenedor-promocion-home2 .imagen-promocion-home2 .contenido-imagen-promocion h2 {
    font-size: 2.8em;
    margin-bottom: 0.2em;
  }
  .contenedor-promocion-home3 {
    display: flex;
    gap: 3em;
  }
  .contenedor-promocion-home3 .imagen-promocion-home3 {
    height: 60vh;
    margin-bottom: 1.4em;
  }
  .contenedor-promocion-home3 h2 {
    font-size: 3.4em;
    margin-bottom: 0.2em;
  }
  .contenedor-secciones-productos .seccion-productos h3.titulo-seccion-productos {
    font-size: 2em;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos {
    padding-bottom: 1.6em;
    width: 78vw;
    overflow-x: scroll;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos {
    gap: 2em;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto {
    width: 300px !important;
    height: 400px;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto .imagen-producto {
    height: 400px;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h4.categoria-producto {
    font-size: 1em;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h2.nombre-producto {
    font-size: 1.2em;
  }
  .contenedor-secciones-productos .seccion-productos .contenedor-productos .contenido-productos .item-producto .producto h4.precio-producto {
    font-size: 1.4em;
  }
  .contenedor-secciones-categorias .seccion-categorias h3.titulo-seccion-productos {
    font-size: 2em;
  }
  .contenedor-secciones-categorias .seccion-categorias .contenedor-categorias {
    padding-bottom: 1.6em;
    width: 78vw;
    overflow-x: scroll;
  }
  .contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria {
    width: 500px !important;
    height: 605px;
  }
  .contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria {
    height: 600px;
  }
  .contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria .contenido-categoria {
    position: absolute;
    bottom: 0;
    padding: 1.4em;
  }
  .contenedor-secciones-categorias .seccion-categorias .contenedor-categorias .contenido-categorias .item-categoria .categoria .imagen-categoria .contenido-categoria h2 {
    font-size: 1.8em;
    margin-bottom: 0.4em;
  }
}
.modulo-producto {
  padding: 2em 0;
}

.contenedor-producto {
  margin-top: 5.2em;
}

.informacion-producto .nombre-producto {
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 0.2em;
}
.informacion-producto .precio-calificacion h2.precio-producto {
  font-size: 1.4em;
}
.informacion-producto .precio-calificacion h5 {
  font-size: 1.2em;
}
.informacion-producto h5.disponibilidad-producto span {
  color: #392F7F;
  font-weight: bolder;
}
.informacion-producto .descripcion-producto p {
  text-align: justify;
}

#carouselProducto .muestra-multimedia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 0.8em;
}
#carouselProducto .muestra-multimedia video {
  width: 100%;
  height: auto;
}
#carouselProducto .muestra-multimedia2, #carouselProducto .muestra-multimedia3, #carouselProducto .muestra-multimedia4 {
  background-color: transparent;
  background-image: url(../img/producto.webp);
}

.contenedor-thumbnails-productos {
  width: 89vw;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 1em;
}
.contenedor-thumbnails-productos .contenido-thumbnails-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8em;
}
.contenedor-thumbnails-productos .contenido-thumbnails-productos .thumbnail-multimedia {
  border-radius: 6px;
  width: 150px;
  height: 150px;
  background-image: url(../img/producto.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.botones-producto button {
  width: 100%;
  font-weight: 500;
}
.botones-producto button:last-child {
  background-color: transparent;
  border: 2px solid #735FFF;
  color: #735FFF;
}

.descripcion-producto p {
  line-height: 1.8em;
  font-weight: 500;
}

.contenedor-comentarios {
  width: 100%;
}
.contenedor-comentarios p {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  padding: 1.4em 0;
}
.contenedor-comentarios p a.header-comentarios {
  text-decoration: none;
  color: #1C1C1C;
  font-size: 1.2em;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.contenedor-comentarios .collapse a.boton-escribir-comentario {
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: underline;
  color: #1C1C1C;
}
.contenedor-comentarios .collapse .comentario {
  padding: 0.6em 0;
}
.contenedor-comentarios .collapse .comentario:first-of-type {
  margin-top: 1.6em;
}
.contenedor-comentarios .collapse .comentario .titulo-comentario > h2 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
}
.contenedor-comentarios .collapse .comentario .calificacion-comentario > h4, .contenedor-comentarios .collapse .comentario .usuario-fecha-comentario > h4 {
  display: flex;
  align-items: center;
  font-size: 1em;
  margin: 0;
}
.contenedor-comentarios .collapse .comentario .usuario-fecha-comentario {
  display: flex;
  gap: 0.4em;
}
.contenedor-comentarios .collapse .comentario .contenido-comentario > p {
  border: none;
}

#comentarioModal .star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
#comentarioModal .radio-input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#comentarioModal .radio-label {
  cursor: pointer;
  font-size: 0;
  color: rgba(0, 0, 0, 0.2);
  transition: color 0.1s ease-in-out;
}
#comentarioModal .radio-label:before {
  content: "★";
  display: inline-block;
  font-size: 32px;
}
#comentarioModal .radio-input:checked ~ .radio-label {
  color: #735FFF;
}
#comentarioModal .radio-label:hover,
#comentarioModal .radio-label:hover ~ .radio-label {
  color: #735FFF;
}
#comentarioModal .radio-input:checked + .radio-label:hover,
#comentarioModal .radio-input:checked + .radio-label:hover ~ .radio-label,
#comentarioModal .radio-input:checked ~ .radio-label:hover,
#comentarioModal .radio-input:checked ~ .radio-label:hover ~ .radio-label,
#comentarioModal .radio-label:hover ~ .radio-input:checked ~ .radio-label {
  color: #392F7F;
}

@media (min-width: 1440px) {
  .contenedor-multimedia-producto #carouselProducto .muestra-multimedia {
    height: 450px;
    margin-bottom: 1.6em;
  }
  .contenedor-multimedia-producto .modulo-producto {
    padding: 0;
  }
  .contenedor-producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin: 8em auto 0 auto;
  }
  .contenedor-producto .contenedor-info-producto {
    grid-column: 2/3;
    height: 85vh;
    overflow-y: scroll;
    width: auto;
  }
  .contenedor-producto .contenedor-multimedia-producto {
    grid-row: 1/3;
  }
  .contenedor-producto .contenedor-multimedia-producto .contenedor-thumbnails-productos {
    display: flex;
    justify-content: center;
    width: 40vw;
  }
  .contenedor-producto .contenedor-multimedia-producto .contenedor-thumbnails-productos .contenido-thumbnails-productos {
    gap: 1.6em;
  }
  .contenedor-producto .contenedor-multimedia-producto .contenedor-thumbnails-productos .contenido-thumbnails-productos .thumbnail-multimedia {
    border-radius: 6px;
    width: 170px;
    height: 170px;
    background-image: url(../img/producto.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.contenedor-carrito {
  padding: 0;
}
.contenedor-carrito .contenedor-productos-carrito {
  margin-bottom: 10em;
  overflow-y: scroll;
  min-height: 40vh;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1.4em 0.1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.4em;
  padding: 1em;
  position: relative;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito:first-of-type {
  margin-top: 0;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .imagen-producto-carrito {
  width: 40%;
  background-image: url(../img/producto.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito {
  width: 60%;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito h2 {
  font-weight: 500;
  font-size: 1.2em;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito h4 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito input {
  text-align: center;
  font-weight: 500;
  height: 30px;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito .boton-menos-cantidad, .contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito .boton-mas-cantidad {
  height: 30px;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito .boton-menos-cantidad i, .contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito .boton-mas-cantidad i {
  display: flex;
  align-items: center;
}
.contenedor-carrito .contenedor-productos-carrito .producto-carrito .boton-quitar-producto {
  position: absolute;
  left: 0;
  top: 0;
}

.contenedor-total-carrito {
  width: 100%;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  border-radius: 1em 1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 3;
  background-color: white;
}
.contenedor-total-carrito .contenido-total-carrito h2 {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.contenedor-total-carrito .contenido-total-carrito h2 span {
  color: #392F7F;
  font-weight: 600;
}
.contenedor-total-carrito .contenido-total-carrito h2:last-of-type {
  margin-bottom: 1em;
}

@media (min-width: 1440px) {
  .contenedor-carrito {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 4em;
  }
  .contenedor-carrito .contenedor-productos-carrito {
    width: auto;
    max-height: 75vh;
    overflow-y: scroll;
    margin-bottom: 0;
  }
  .contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito {
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.6fr 0.6fr;
    gap: 4em;
    align-items: center;
    width: 90%;
  }
  .contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito h2 {
    font-weight: 500;
    font-size: 1.2em;
  }
  .contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito h4 {
    font-size: 1em;
    font-weight: 600;
  }
  .contenedor-carrito .contenedor-productos-carrito .producto-carrito .informacion-producto-carrito .total h4 {
    font-size: 1.2em;
  }
  .contenedor-carrito .contenedor-productos-carrito .producto-carrito .imagen-producto-carrito {
    width: 20%;
    height: 100px;
  }
  .contenedor-carrito .contenedor-total-carrito {
    width: 90%;
    position: static;
    max-height: 150px;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  .contenedor-carrito .contenedor-total-carrito h4 {
    text-align: left;
  }
}
.contenedor-pagina-cuenta {
  margin-top: 3.6em;
}
.contenedor-pagina-cuenta .contenedor-informacion-perfil {
  padding: 1.8em 0;
  background: rgb(115, 95, 255);
  background: linear-gradient(180deg, rgb(115, 95, 255) 0%, rgb(64, 49, 166) 100%);
  position: relative;
}
.contenedor-pagina-cuenta .contenedor-informacion-perfil .foto-perfil {
  height: 90px;
  width: 90px;
  background-image: url(../img/avatar.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.contenedor-pagina-cuenta .contenedor-informacion-perfil .contenedor-boton-editar-foto {
  bottom: 0;
  right: 0;
}
.contenedor-pagina-cuenta .contenedor-informacion-perfil .boton-editar-foto {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-pagina-cuenta .contenedor-informacion-perfil h3 {
  font-size: 2em;
  color: #f5f5f5;
}
.contenedor-pagina-cuenta .contenedor-informacion-perfil h5 {
  color: #f5f5f5;
}
.contenedor-pagina-cuenta .contenedor-informacion-perfil .contenedor-formulario-perfil {
  position: absolute;
  background-color: white;
  padding: 1em 0;
  border-radius: 1em 1em 0 0;
  margin-top: 1.2em;
}

@media (min-width: 768px) {
  .contenedor-pagina-cuenta .contenedor-informacion-perfil {
    height: 80vh;
    padding: 2em 0;
    position: static;
  }
  .contenedor-pagina-cuenta .contenedor-informacion-perfil .foto-perfil {
    margin-top: 1.8em;
    height: 100px;
    width: 100px;
  }
  .contenedor-pagina-cuenta .contenedor-informacion-perfil .contenedor-formulario-perfil {
    margin-top: 2em;
    position: static;
    background-color: white;
    border-radius: 0em;
  }
  .contenedor-pagina-cuenta .contenedor-informacion-perfil .contenedor-formulario-perfil .contenido-formulario-perfil {
    width: 40% !important;
    padding: 1em 0;
    margin: 1.8em auto 0 auto;
  }
}
.contenedor-pagina-chat {
  margin-top: 4.8em;
}

.contenedor-chat .contenido-chat .contacto {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 1.4em;
  align-items: center;
  cursor: pointer;
  color: #1C1C1C;
  padding: 0 1em 1em 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contenedor-chat .contenido-chat .contacto img {
  width: 13%;
}
.contenedor-chat .contenido-chat .contacto a {
  text-decoration: none;
  font-size: 1.1em;
}
.contenedor-chat .contenido-chat .contacto a h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}
.contenedor-chat .contenido-chat .contacto .informacion-perfil-mensaje {
  width: 80%;
  margin: 0 auto;
}
.contenedor-chat .contenido-chat .contenedor-mensajes {
  padding: 1.4em 1em 0 1em;
  height: 75vh;
  overflow-y: scroll;
}
.contenedor-chat .contenido-chat .contenedor-mensajes .mensaje {
  margin-bottom: 1em;
  display: flex;
}
.contenedor-chat .contenido-chat .contenedor-mensajes .mensaje-local {
  background-color: #f5f5f5;
  justify-content: flex-end;
  max-width: 60%;
  padding: 0.6em 1em;
}
.contenedor-chat .contenido-chat .contenedor-mensajes .mensaje-remoto {
  background-color: #735FFF;
  color: #f5f5f5;
  justify-content: flex-start;
  max-width: 60%;
  padding: 0.6em 1em;
  margin: 0 0 0 auto;
}
.contenedor-chat .contenido-chat .contenedor-input-mensaje {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 1em;
}

#productoModal .producto {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}
#productoModal .producto .imagen-producto {
  height: 100px;
  width: 100px;
  background-image: url(../img/producto.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#productoModal .producto .informacion-producto h4 {
  font-size: 1em;
  margin-bottom: 0.2em;
}
#productoModal .producto .informacion-producto h2 {
  font-size: 1.4em;
  font-weight: 500;
}

@media (min-width: 768px) {
  .contenedor-pagina-chat {
    margin-top: 4.4em;
  }
  .contenedor-pagina-chat {
    display: flex;
    height: 90vh;
  }
  .contenedor-pagina-chat ul.contactos {
    height: 90.5vh;
    border-radius: 0;
    background-color: #392F7F;
    width: 30%;
    padding: 0 1em;
  }
  .contenedor-pagina-chat ul.contactos .contenedor-titulo-pagina {
    margin-bottom: 1em;
  }
  .contenedor-pagina-chat ul.contactos .contenedor-titulo-pagina .contenido-titulo-pagina h2 {
    color: #f5f5f5;
  }
  .contenedor-pagina-chat ul.contactos .contacto-item {
    display: flex;
    margin: 0.8em 0;
    background-color: #5B567F;
    padding: 1em;
    box-shadow: none;
    border-radius: 0.4em;
  }
  .contenedor-pagina-chat ul.contactos .contacto-item a.contacto .imagen-contacto {
    width: 40px;
    height: 40px;
  }
  .contenedor-pagina-chat ul.contactos .contacto-item a.contacto .informacion-contacto h2, .contenedor-pagina-chat ul.contactos .contacto-item a.contacto .informacion-contacto p {
    color: #f5f5f5 !important;
  }
  .contenedor-pagina-chat ul.contactos .contacto-item a.contacto .informacion-contacto p {
    width: 90%;
  }
  .contenedor-pagina-chat .contenedor-chat {
    width: 100%;
  }
  .contenedor-pagina-chat .contenedor-chat .contenido-chat {
    margin: 0 auto;
  }
  .contenedor-pagina-chat .contenedor-chat .contenido-chat .contacto {
    width: 100%;
    justify-content: space-between;
    padding: 1.4em 2em;
  }
  .contenedor-pagina-chat .contenedor-chat .contenido-chat .contacto img {
    width: 50px;
  }
  .contenedor-pagina-chat .contenedor-chat .contenido-chat .contacto .informacion-perfil-mensaje {
    width: 90%;
  }
  .contenedor-pagina-chat .contenedor-chat .contenido-chat .contacto a {
    font-size: 1.4em;
  }
  .contenedor-pagina-chat .contenedor-chat .contenido-chat .contenedor-mensajes {
    height: 67.5vh;
    padding: 1em 3em;
  }
  .contenedor-pagina-chat .contenedor-chat .contenido-chat .contenedor-mensajes .producto-carrito .imagen-producto-carrito {
    width: 20%;
  }
  .contenedor-pagina-chat .contenedor-chat .contenido-chat .contenedor-mensajes .mensaje-local {
    max-width: 40%;
  }
  .contenedor-pagina-chat .contenedor-chat .contenido-chat .contenedor-mensajes .mensaje-remoto {
    max-width: 40%;
  }
}
.contenedor-pagina-search {
  position: relative;
}
.contenedor-pagina-search .filtros-busqueda {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 1em;
  border-radius: 0.6em;
}
.contenedor-pagina-search .contenedor-productos-busqueda {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8em;
}
.contenedor-pagina-search .contenedor-productos-busqueda .producto-busqueda-item .producto-busqueda {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  text-decoration: none;
  margin-bottom: 1em;
  border: none;
  text-decoration: none;
  color: #1C1C1C;
}
.contenedor-pagina-search .contenedor-productos-busqueda .producto-busqueda-item .producto-busqueda .imagen-producto-busqueda {
  height: 200px;
  width: 100%;
  margin-bottom: 0.4em;
  background-image: url(../img/producto.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contenedor-pagina-search .contenedor-productos-busqueda .producto-busqueda-item .producto-busqueda .informacion-producto-busqueda {
  padding: 0 0.8em;
}
.contenedor-pagina-search .contenedor-productos-busqueda .producto-busqueda-item .producto-busqueda .informacion-producto-busqueda h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0.12em;
}
.contenedor-pagina-search .contenedor-productos-busqueda .producto-busqueda-item .producto-busqueda .informacion-producto-busqueda h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.2em;
}
.contenedor-pagina-search .contenedor-productos-busqueda .producto-busqueda-item .producto-busqueda .informacion-producto-busqueda h6 {
  font-size: 0.88em;
  margin-bottom: 0.2em;
  font-weight: 400;
}
.contenedor-pagina-search .contenedor-productos-busqueda .producto-busqueda-item .producto-busqueda .informacion-producto-busqueda .calificacion-producto-busqueda {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.contenedor-pagina-search .contenedor-productos-busqueda .producto-busqueda-item .producto-busqueda .informacion-producto-busqueda .calificacion-producto-busqueda p, .contenedor-pagina-search .contenedor-productos-busqueda .producto-busqueda-item .producto-busqueda .informacion-producto-busqueda .calificacion-producto-busqueda i {
  font-size: 0.8em;
  font-weight: 500;
}

.sidebar-menu-filtros {
  display: none;
  position: fixed;
  height: 100%;
  margin: 3em 0;
  background-color: white;
  width: 80%;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (min-width: 1440px) {
  .contenedor-pagina-search {
    display: flex;
    flex-direction: row-reverse;
    gap: 4em;
  }
  .contenedor-pagina-search .contenedor-busqueda {
    width: 100%;
  }
  .contenedor-pagina-search .contenedor-busqueda .contenedor-productos-busqueda {
    margin: 2.6em auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
  }
  .contenedor-pagina-search .contenedor-busqueda .contenedor-productos-busqueda .producto-busqueda-item .producto-busqueda .informacion-producto-busqueda {
    text-align: center;
  }
  .contenedor-pagina-search .contenedor-busqueda .contenedor-productos-busqueda .producto-busqueda-item .producto-busqueda .calificacion-producto-busqueda {
    justify-content: center;
  }
  .sidebar-menu-filtros {
    display: block;
    position: static;
    width: 30%;
    padding: 1em 1.4em;
    margin: 2.6em auto 0 auto;
    height: 700px;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
}
.contenedor-wishlist {
  list-style: none;
  padding: 0;
}
.contenedor-wishlist .wishlist .accordion-item .accordion-header .contenedor-wishlist-header {
  display: grid;
  grid-template-columns: 1fr 0.05fr 0.05fr;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.4em;
}
.contenedor-wishlist .wishlist .accordion-item .accordion-header .contenedor-wishlist-header .accordion-button {
  display: flex;
  justify-content: flex-start;
}
.contenedor-wishlist .wishlist .accordion-item .accordion-header .contenedor-wishlist-header .accordion-button::after {
  display: none;
}
.contenedor-wishlist .wishlist .accordion-item .accordion-header .contenedor-wishlist-header .accordion-button:not(.collapsed)::after {
  background: none;
}
.contenedor-wishlist .wishlist .accordion-item .accordion-header .contenedor-wishlist-header .boton-wishlist {
  height: 100%;
  padding: 0.8em;
}
.contenedor-wishlist .wishlist .producto-wishlist {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.contenedor-wishlist .wishlist .producto-wishlist .imagen-producto-wishlist {
  width: 40%;
  background-image: url(../img/producto.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contenedor-wishlist .wishlist .producto-wishlist .informacion-producto-wishlist .titulo-producto {
  display: flex;
  flex-direction: column;
}
.contenedor-wishlist .wishlist .producto-wishlist .informacion-producto-wishlist h2 {
  font-weight: 500;
  font-size: 1.2em;
}
.contenedor-wishlist .wishlist .producto-wishlist .informacion-producto-wishlist h4 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.4em;
}
.contenedor-wishlist .wishlist .producto-wishlist .informacion-producto-wishlist h4 span {
  font-weight: 400;
  margin-right: 0.4em;
}
.contenedor-wishlist .wishlist .producto-wishlist .informacion-producto-wishlist .calificacion-producto-wishlist {
  display: flex;
  align-items: center;
  gap: 0.8em;
  margin-bottom: 0.6em;
}
.contenedor-wishlist .wishlist .producto-wishlist .informacion-producto-wishlist .calificacion-producto-wishlist p, .contenedor-wishlist .wishlist .producto-wishlist .informacion-producto-wishlist .calificacion-producto-wishlist i {
  font-size: 0.8em;
}
.contenedor-wishlist .wishlist .producto-wishlist .informacion-producto-wishlist .botones-producto-wishlist {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.contenedor-wishlist .wishlist .producto-wishlist .informacion-producto-wishlist .botones-producto-wishlist button {
  width: 100%;
}

@media (min-width: 1440px) {
  .contenedor-wishlist .wishlist .accordion-item .producto-wishlist .imagen-producto-wishlist {
    width: 10%;
    height: 100px;
  }
  .contenedor-wishlist .wishlist .accordion-item .producto-wishlist .informacion-producto-wishlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .contenedor-wishlist .wishlist .accordion-item .producto-wishlist .informacion-producto-wishlist .titulo-producto {
    flex-direction: row;
    gap: 10em;
  }
  .contenedor-wishlist .wishlist .accordion-item .producto-wishlist .informacion-producto-wishlist .calificacion-producto-wishlist p, .contenedor-wishlist .wishlist .accordion-item .producto-wishlist .informacion-producto-wishlist .calificacion-producto-wishlist i {
    font-size: 1em;
  }
  .contenedor-wishlist .wishlist .accordion-item .producto-wishlist .informacion-producto-wishlist .botones-producto-wishlist {
    flex-direction: row;
  }
}
.contactos {
  list-style: none;
  padding: 0;
  min-height: 51.5vh;
  overflow-y: scroll;
}
.contactos .contacto-item {
  padding: 1em;
  border: none !important;
  border-radius: 0.4em;
  margin: 0.4em 0.1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.contactos .contacto-item a.contacto {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 0;
  border: none;
  text-decoration: none;
}
.contactos .contacto-item a.contacto:first-of-type {
  padding-top: 0;
}
.contactos .contacto-item a.contacto .imagen-contacto {
  width: 50px;
  height: 50px;
  background-image: url(../img/avatar.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactos .contacto-item a.contacto .informacion-contacto {
  width: 255px;
}
.contactos .contacto-item a.contacto .informacion-contacto h2 {
  font-size: 1.2em;
  margin: 0;
}
.contactos .contacto-item a.contacto .informacion-contacto p {
  text-overflow: fade;
}

.contenedor-metodos-pago {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}
.contenedor-metodos-pago .metodo-pago {
  display: flex;
  align-items: center;
  gap: 2em;
  height: 60px;
  padding: 0 0.8em;
  border-radius: 0.6em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  cursor: pointer;
}
.contenedor-metodos-pago .metodo-pago h2 {
  font-size: 1.2em;
  font-weight: 500;
}
.contenedor-metodos-pago .metodo-pago:hover {
  background-color: #cacaca;
}
.contenedor-metodos-pago .agregar-metodo-pago {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  cursor: pointer;
}
.contenedor-metodos-pago .agregar-metodo-pago h2 {
  font-size: 1.2em;
  font-weight: 500;
}

@media (min-width: 768px) {
  .contenedor-pagina-pago {
    width: 30%;
    margin: 4.4em auto 0 auto;
  }
  .contenedor-pagina-pago .contenedor-titulo-pagina .contenido-titulo-pagina {
    display: flex;
    justify-content: center;
  }
  .contenedor-pagina-pago .contenedor-titulo-pagina .contenido-titulo-pagina h2.titulo-pagina {
    text-align: center;
  }
  .contenedor-pagina-pago .contenedor-metodos-pago {
    padding: 0 2em 4em 2em;
    border-radius: 0.4em 0.4em 0 0;
  }
  .contenedor-pagina-pago .contenedor-metodos-pago .metodo-pago {
    background-color: #f5f5f5;
  }
  .contenedor-pagina-pago .contenedor-metodos-pago .metodo-pago:hover {
    background-color: #cacaca;
  }
  .contenedor-pagina-pago .contenedor-metodos-pago .agregar-metodo-pago {
    margin: 0;
  }
  .contenedor-pagina-pago .contenedor-total-carrito {
    box-shadow: none;
    position: static;
    padding: 0 2em 4em 2em;
    width: 80%;
    margin: 0 auto;
    border-radius: 0 0 0.4em 0.4em;
  }
  .contenedor-pagina-pago .contenedor-total-carrito .contenido-total-carrito {
    width: 100% !important;
  }
  .contenedor-pagina-pago .contenedor-total-carrito .contenido-total-carrito a {
    margin-top: 2em;
  }
}
.contenedor-pagina-pedidos {
  position: relative;
}
.contenedor-pagina-pedidos .contenedor-pedido {
  margin-top: 1em;
  margin-bottom: 10em;
  overflow-y: scroll;
  min-height: 40vh;
}
.contenedor-pagina-pedidos .contenedor-pedido .contenedor-productos-pedido {
  padding: 0 !important;
}
.contenedor-pagina-pedidos .contenedor-pedido .contenedor-productos-pedido .producto-pedido {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1.4em 0.1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.4em;
  padding: 1em;
  position: relative;
}
.contenedor-pagina-pedidos .contenedor-pedido .contenedor-productos-pedido .producto-pedido:first-of-type {
  margin-top: 0;
}
.contenedor-pagina-pedidos .contenedor-pedido .contenedor-productos-pedido .producto-pedido .imagen-producto-pedido {
  width: 40%;
  background-image: url(../img/producto.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.contenedor-pagina-pedidos .contenedor-pedido .contenedor-productos-pedido .producto-pedido .informacion-producto-pedido {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.contenedor-pagina-pedidos .contenedor-pedido .contenedor-productos-pedido .producto-pedido .informacion-producto-pedido h2 {
  font-weight: 500;
  font-size: 1.2em;
}
.contenedor-pagina-pedidos .contenedor-pedido .contenedor-productos-pedido .producto-pedido .informacion-producto-pedido h4 {
  font-size: 1em;
  font-weight: 600;
}
.contenedor-pagina-pedidos .contenedor-pedido .contenedor-productos-pedido .producto-pedido .informacion-producto-pedido h4 span {
  font-weight: 400;
  margin-right: 0.4em;
}

@media (min-width: 1440px) {
  .contenedor-pagina-pedidos {
    display: flex;
    flex-direction: row-reverse;
    gap: 4em;
  }
  .contenedor-pagina-pedidos .contenedor-pedidos {
    width: 100%;
  }
  .contenedor-pagina-pedidos .contenedor-pedidos .contenedor-pedido {
    margin-top: 1em;
    margin-bottom: 10em;
    overflow-y: scroll;
    min-height: 60vh;
  }
  .contenedor-pagina-pedidos .contenedor-pedidos .contenedor-pedido .contenedor-productos-pedido .producto-pedido .imagen-producto-pedido {
    width: 20%;
    height: 100px;
  }
  .contenedor-pagina-pedidos .contenedor-pedidos .contenedor-pedido .contenedor-productos-pedido .producto-pedido .informacion-producto-pedido {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.6em;
  }
}
.preview-imagen-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
  border: 1px dotted #cacaca;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.preview-imagen-producto i {
  color: #1C1C1C;
  cursor: pointer;
}

.preview-video-producto {
  height: 300px;
}

.producto-modal {
  min-width: 60% !important;
}

.swal2-container {
  z-index: 100000;
}

.contenedor-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.contenedor-loader .spinner-grow {
  width: 3em;
  height: 3em;
  color: #392F7F;
}

.contenedor-login {
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.contenedor-hero-login {
  height: 100vh;
  background-image: url(../img/hero-login.svg);
  background-repeat: no repeat;
  background-position: center center;
  background-size: cover;
  color: #f5f5f5;
  position: relative;
}
.contenedor-hero-login .contenido-hero-login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2em 5em;
}
.contenedor-hero-login .contenido-hero-login .logo h2 {
  font-size: 2.5em;
}
.contenedor-hero-login .contenido-hero-login .eslogan ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 5em;
}
.contenedor-hero-login .contenido-hero-login .eslogan ul li h3 {
  font-size: 1.5em;
  margin: 0 0.5em 0 0;
}
.contenedor-hero-login .contenido-hero-login .texto-hero-login {
  font-family: "Nunito", sans-serif;
}
.contenedor-hero-login::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.contenedor-formulario-login {
  padding: 2em 3em;
}

/*# sourceMappingURL=main.css.map */
