.contenedor-productos-carrito {
    margin-top: 1em;
    margin-bottom: 10em;
    overflow-y: scroll;
    min-height: 40vh;
    .producto-carrito {
        display: flex;
        flex-direction: row;
        gap: 1em;
        margin: 1.4em 0.1em;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;       
        border-radius: 0.4em;
        padding: 1em;
        position: relative;
        &:first-of-type {
            margin-top: 0;
        }
        .imagen-producto-carrito {
            width: 40%;
            background-image: url(../img/producto.webp);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .informacion-producto-carrito {
            width: 60%;
            h2 {
                font-weight: 500;
                font-size: 1.2em;
            }
            h4 {
                font-size: 1em;
                font-weight: 600;
                margin-bottom: 1em;
            }
            input {
                text-align: center;
                font-weight: 500;
                height: 30px;
            }
            .boton-menos-cantidad, .boton-mas-cantidad {
                height: 30px;
                i {
                    display: flex;
                    align-items: center;
                }
            }
        }
        .boton-quitar-producto {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
.contenedor-total-carrito {
    width: 100%;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 3;
    background-color: white;
    .contenido-total-carrito {
        h2 {
            font-size: 1.4em;
            font-weight: 500;
            margin-bottom: 0.8em;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            span {
                color: $color-primario;
                font-weight: 600;
            }
            &:last-of-type {
                margin-bottom: 1em;
            }
        }
    }    
}

@media (min-width:$laptop) {
    .contenedor-carrito {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 0.4fr;
        gap: 0.4em;
        .contenedor-productos-carrito {
            width: auto;
            max-height: 75vh;
            overflow-y: scroll;
            margin-bottom: 0;
            .producto-carrito {
                .informacion-producto-carrito {
                    display: grid;
                    grid-template-columns: 1fr 0.8fr 0.6fr 0.6fr;
                    gap: 4em;
                    align-items: center;
                    width: 90%;
                    h2 {
                        font-weight: 500;
                        font-size: 1.2em;
                    }
                    h4 {
                        font-size: 1em;
                        font-weight: 600;
                    }
                    .total {
                        h4 {
                            font-size: 1.2em;
                        }
                    }

                }
                .imagen-producto-carrito {
                    width: 20%;
                    height: 100px;
                }
            }
        }
        .contenedor-total-carrito {
            width: 90%;
            position: static;
            max-height: 150px;
            border-radius: 0.4em 0.4em 0.4em 0.4em;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;       
            h4 {
                text-align: left;
            }
        }
    }

}

