.contenedor-carrito {
    .contenedor-productos-carrito {
        margin-top: 1em;
        margin-bottom: 10em;
        overflow-y: scroll;
        // border-bottom: 1px solid $color-gris;
        min-height: 40vh;
        .producto-carrito {
            display: flex;
            flex-direction: row;
            gap: 1em;
            margin: 1.4em 0.1em;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;       
            border-radius: 0.4em;
            padding: 1em;
            position: relative;
            &:first-of-type {
                margin-top: 0;
            }
            .imagen-producto-carrito {
                width: 40%;
                background-image: url(../img/producto.webp);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
            .informacion-producto-carrito {
                width: 60%;
                h2 {
                    font-weight: 500;
                    font-size: 1.2em;
                }
                h4 {
                    font-size: 1em;
                    font-weight: 600;
                    margin-bottom: 1em;
                }
                #inputCantidad {
                    text-align: center;
                    font-weight: 500;
                }
            }
            .boton-quitar-producto {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}
.contenedor-total-carrito {
    width: 100%;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 3;
    background-color: white;
    .contenido-total-carrito {
        h2 {
            font-size: 1.4em;
            font-weight: 500;
            margin-bottom: 0.8em;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            span {
                color: $color-primario;
                font-weight: 600;
            }
            &:last-of-type {
                span {
                    // font-size: 1.4em;
                }
                margin-bottom: 1em;
            }
        }
    }    
}




@media (min-width:$laptop) {
    .contenedor-carrito {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        gap: 2em;
        .contenedor-productos-carrito {
            max-height: 65vh;
            overflow-y: scroll;
            .imagen-producto-carrito {
                width: 30%;
                min-height: 150px;
            }
        }
        .contenedor-total-carrito {
            max-height: 150px;
            h4 {
                text-align: left;
            }
        }
    }
}

