.footer {
    margin-top: 3em;
    background-color: $color-blanco;
    padding: 3em 0 4em 0;
    .navbar-brand {
        display: flex;
        justify-content: center !important;
        margin-bottom: 1.4em;
    }
    h6 {
        text-align: center;
        font-weight: 600;
    }
}