@import "variables.scss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
h1 {
    font-family: $fuente-primaria;
    font-weight: bolder;
    font-size: 5em;
    margin: 0;
}
h2 {
    font-family: $fuente-primaria;
    font-weight: bolder;
    font-size: 4em;
    margin: 0;
    color: $color-negro;
}
h3 {
    font-family: $fuente-secundaria;
    font-weight: bolder;
    font-size: 3em;
    margin: 0;
}
h4 {
    font-family: $fuente-secundaria;
    font-size: 2em;
    margin: 0;
}
p {
    font-family: $fuente-parrafo;
}
button {
    font-family: $fuente-primaria !important;
    font-size: 1.1em !important;
    padding: 0.4em 0.8em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
label, input {
    font-family: $fuente-secundaria;
}
ul {
    margin: 0;
    padding: 0;
}