@import "variables.scss";

h1 {
    font-family: $fuente-primaria;
    font-weight: bolder;
    font-size: 5em;
    margin: 0;
}
h2 {
    font-family: $fuente-primaria;
    font-weight: bolder;
    font-size: 4em;
    margin: 0;
    color: $color-negro;
}
h3 {
    font-family: $fuente-secundaria;
    font-weight: bolder;
    font-size: 3em;
    margin: 0;
}
h4 {
    font-family: $fuente-secundaria;
    font-size: 2em;
    margin: 0;
}
button {
    font-family: $fuente-primaria !important;
    font-size: 1.4em !important;
    padding: 0.4em 0.8em;
    margin: 0;
}