@import "variables.scss";

.contenedor-home {
    .contenido-home {
        .hero-home {
            background-image: url(../img/business-3293079_1920.jpg);
            width: 100%;
            height: 50vh;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.modulo-home {
    padding: 2.4em 0;
}
.contenedor-promocion-home1 {
    text-align: center;
    h5 {
        margin-bottom: 1em;
        span {
            color: $color-secundario;
            font-weight: bolder;
        }
    }
    h2 {
        font-size: 3.2em;
        letter-spacing: 0.15em;
    }
    h6 {
        line-height: 1.6em;
    }
}
.contenedor-promocion-home2 {
    .imagen-promocion-home2 {
        width: 100%;
        height: 40vh;
        background-image: url(../img/vr.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        .contenido-imagen-promocion {
            position: absolute;
            bottom: 0;
            padding: 1em;
            h2 {
                font-size: 1.4em;
                margin-bottom: 0.4em;
                color: $color-blanco;
            }
        }
    }
}

.contenedor-secciones-productos {
    display: grid;
    grid-template-columns: 1fr;
    .seccion-productos {
        h3.titulo-seccion-productos {
            font-size: 1.4em;
            margin-top: 0.6em;
        }
        .contenedor-productos {     
            width: 350px;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            .contenido-productos {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1em;
                list-style: none;
                padding: 0;
                width: 100%;
                .item-producto {
                    width: 300px !important;
                    height: 400px;
                    .producto {
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 0.2em;
                        border: none;
                        text-decoration: none;
                        // background-color: $color-blanco;
                        border-radius: 0;
                        // padding: 0 1em;
                        .imagen-producto {
                            width: 100%;
                            height: 300px;
                            background-image: url(../img/producto.webp);
                            background-position: center center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            margin-bottom: 1em;
            
                        }
                        h4.categoria-producto {
                            font-size: 1em;
                            font-weight: normal;
                        }
                        h2.nombre-producto {
                            font-size: 1.2em;
                            font-weight: normal;
                            color: $color-negro;
                        }
                        h4.precio-producto {
                            font-size: 1.2em;
                            font-weight: bold;
                            color: $color-negro;   
                        }                     
                    }
                }
            }
        }
    }
}


@media (min-width: $laptop) {
    .contenedor-home {
        .contenido-home {
            .hero-home {
                height: 60vh;
                background-position: center 20%;
                .contenedor-productos {
                    .seccion-categorias {
                        justify-content: space-between;
                        margin-bottom: 3em;
                        .categoria {
                            min-width: 180px;
                            height: 180px;
                            cursor: pointer;
                            .imagen-categoria {
                                max-width: 140px;
                                min-height: 80px;
                                margin: 0 auto 0.6em auto;
                            }
                        }
                    }
                    .contenedor-secciones-productos {
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr;
                        gap: 2em;
                        .seccion-productos {
                            &:nth-child(1) {
                                grid-column: 1/2;
                                grid-row: 1/2;
                                overflow-x: scroll;
                            }
                            &:nth-child(2) {
                                grid-column: 2/3;
                                grid-row: 1/3;
                            }
                            &:nth-child(3) {
                                grid-column: 1/2;
                                grid-row: 2/3;
                            }
                            &:nth-child(4) {
                                grid-column: 1/3;
                                grid-row: 3/4;
                                .producto {
                                    height: 250px;
                                    .imagen-producto {
                                        min-height: 150px;
                                    }
                                }
                            }
                            .producto {
                                height: 200px;
                                padding: 1.6em 1em;
                                text-align: center;
                            }
                        }
                    }
                }
            }

        }
    }
}