.navbar {
    background-color: $color-blanco !important;
    a {
        text-decoration: none;
    }
}
.navbar-nav {
    gap: 1.4em;
    li {
        display: flex;
        align-items: center;
        .nav-link {
            color: $color-negro;
        }
        .nav-link.active {
            color: $color-primario;
        }
        i {
            font-size: 1.4em;
        }
    }
}
@media (min-width: $tablet) {
    .navbar-nav {
        margin: 0 0 0 auto !important;
    }
}
.navbar-brand {
    display: flex;
    align-items: flex-end;
    gap: 0.4em; 
}
@media (min-width: $tablet) {
    .navbar-brand {
        justify-content: flex-start;
    }
}

.navbar-collapse {
    margin-top: 1.4em;
    .nav-item {
        border-bottom: 1px solid $color-gris;
        height: 40px;
        width: 100%;
        &:first-child {
            margin-top: 1em;
        }
        &:last-child {
            border: none;
        }
    }
}
@media (min-width: $tablet) {
    .navbar-collapse {
        margin-top: 0;
        form {
            .input-group {
                width: 100%;
                input {
                    width: 20vw;
                }
            }
        }
        .nav-item {
            border: none;
            height: auto;
            width: auto;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.link-carrito {
    padding-right: 0.8em;
}
@media (min-width: $tablet) {
    .link-carrito {
        padding-right: 0;
    }
}

.navbar-toggler {
    background-color: $color-blanco;
}