.navbar {
    background-color: $color-secundario !important;
}
.navbar-nav {
    gap: 1.4em;
    li {
        display: flex;
        align-items: center;
        .nav-link {
            color: $color-blanco;
        }
        .nav-link.active {
            color: $color-primario;
        }
        i {
            font-size: 1.4em;
        }
    }
}
.navbar-brand {
    display: flex;
    align-items: center;
    display: flex;
    align-items: flex-end;
    gap: 0.4em; 
    h5 {
        font-family: $fuente-primaria !important;
        font-weight: bold;
        font-size: 1.4em;
        line-height: 1 !important;
        color: $color-blanco;
        margin: 0;
    }
}