.contenedor-metodos-pago {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    .metodo-pago {
        display: flex;
        align-items: center;
        gap: 2em;
        height: 60px;
        padding: 0 0.8em;
        border-radius: 0.6em;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;       
        cursor: pointer;
        h2 {
            font-size: 1.2em;
            font-weight: 500;
        }
        &:hover {
            background-color: $color-gris;
        }
    }
    .agregar-metodo-pago {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        cursor: pointer;
        h2 {
            font-size: 1.2em;
            font-weight: 500;
        }
    }
}

@media (min-width: $tablet) {
    .contenedor-pagina-pago {
        width: 30%;
        margin: 4.4em auto 0 auto;
        .contenedor-titulo-pagina {
            .contenido-titulo-pagina {
                display: flex;
                justify-content: center;
                h2.titulo-pagina {
                    text-align: center;
                }
            }
        }
        .contenedor-metodos-pago {
            padding: 0 2em 4em 2em;
            border-radius: 0.4em 0.4em 0 0;
            .metodo-pago {
                background-color: $color-blanco;
                &:hover {
                    background-color: $color-gris;
                }
            }
            .agregar-metodo-pago {
                margin: 0;
            }
        }
        .contenedor-total-carrito {
            box-shadow: none;
            position: static;
            padding: 0 2em 4em 2em;
            width: 80%;
            margin: 0 auto;
            border-radius: 0 0 0.4em 0.4em;
            .contenido-total-carrito {
                width: 100% !important;
                a {
                    margin-top: 2em;
                }
            }
        }
    }

}