.modulo-producto {
    padding: 2em 0;
}
.contenedor-producto {
    margin-top: 5.2em;
}
.informacion-producto {
    .nombre-producto {
        font-size: 1.8em;
        font-weight: 500;
        margin-bottom: 0.2em;
    }
    .precio-calificacion {
        h2.precio-producto {
            font-size: 1.4em;
        }
        h5 {
            font-size: 1.2em;
        }
    }
    h5.disponibilidad-producto {
        span {
            color: $color-primario;
            font-weight: bolder;
        }
    }
    .descripcion-producto {
        p {
            text-align: justify;
        }
    } 
}
#carouselProducto {
    .muestra-multimedia {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-color: black;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-bottom: 0.8em;
        video {
            width: 100%;
            height: auto;
        }
    }
    .muestra-multimedia2,.muestra-multimedia3,.muestra-multimedia4 {
        background-color: transparent;
        background-image: url(../img/producto.webp);
    }
}
.contenedor-thumbnails-productos {
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 1em;
    .contenido-thumbnails-productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.8em;
        .thumbnail-multimedia {
            border-radius: 6px;
            width: 150px;
            height: 150px;
            background-image: url(../img/producto.webp);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}
.botones-producto {
    button {
        width: 100%;
        font-weight: 500;
        &:last-child {
            background-color: transparent;
            border: 2px solid $color-secundario;
            color: $color-secundario;
        }
    }
}
.descripcion-producto {
    p {
        line-height: 1.8em;
        font-weight: 500;
    }
}
.contenedor-comentarios {
    width: 100%;
    p {
        border-top: 1px solid $color-gris;
        border-bottom: 1px solid $color-gris;
        padding: 1.4em 0;
        a.header-comentarios {
            text-decoration: none;
            color: $color-negro;
            font-size: 1.2em;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
        }
    }   
    .collapse {
        a.boton-escribir-comentario {
            font-weight: bold;
            font-size: 1.4em;
            text-decoration: underline;
            color: $color-negro;
        }
        .comentario {
            padding: 0.6em 0;
            &:first-of-type {
                margin-top: 1.6em;
            }
            .titulo-comentario > h2 {
                font-size: 1.4em;
                margin-bottom: 0.4em;
            }   
            .calificacion-comentario > h4, .usuario-fecha-comentario > h4 {
                display: flex;
                align-items: center;
                font-size: 1em;
                margin: 0;
            } 
            .usuario-fecha-comentario {
                display: flex;
                gap: 0.4em;

            }
            .contenido-comentario > p {
                border: none;
            }
        }
    }
}
#comentarioModal {
    .star-rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .radio-input {
        position: fixed;
        opacity: 0;
        pointer-events: none;
    }

    .radio-label {
    cursor: pointer;
        font-size: 0;
        color: rgba(0,0,0,0.2);
        transition: color 0.1s ease-in-out;
    }

    .radio-label:before {
    content: "★";
        display: inline-block;
        font-size: 32px;
    }
    .radio-input:checked ~ .radio-label {
        color: $color-secundario;
    }

    .radio-label:hover,
    .radio-label:hover ~ .radio-label {
        color: $color-secundario;
    }

    .radio-input:checked + .radio-label:hover,
    .radio-input:checked + .radio-label:hover ~ .radio-label,
    .radio-input:checked ~ .radio-label:hover,
    .radio-input:checked ~ .radio-label:hover ~ .radio-label,
    .radio-label:hover ~ .radio-input:checked ~ .radio-label {
        color: $color-primario;
    }    
}

@media (min-width:$laptop) {
    .contenedor-multimedia-producto {
        #carouselProducto {
            .muestra-multimedia {
                height: 450px;
                margin-bottom: 4em;
            }
        }
        .modulo-producto {
            padding: 0;
        }
    } 
    .contenedor-producto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        width: 90%;
        margin: 8em auto 0 auto;
        .contenedor-info-producto {
            grid-column: 2/3;
            height: 85vh;
            overflow-y: scroll;
            width: auto;
        }
        .contenedor-multimedia-producto {
            grid-column: 1/2;
            grid-row: 1/3;
            .contenedor-thumbnails-productos {
                width: 50vw;
            }
        }
    }
}