.logo {
    display: flex;
    align-items: end;
    gap: 0.6em;
    color: $color-primario;
    h1 {
        font-size: 2.6em;
    }
}
.btn-primario {
    background-color: $color-secundario;
    color: $color-blanco;
    &:hover {
        background-color: $color-primario;
        color: $color-blanco;
    }
}
.btn-secundario {
    background-color: $color-secundario;
    color: $color-blanco;
}
.btn-terciario {
    background-color: $color-terciario;
    color: $color-blanco;
}
.btn-blanco {
    background-color: $color-blanco;
    color: $color-negro;
}
.hr {
    border-bottom: 1px solid $color-gris;
    margin: 1em 0;
}
.color-oro {
    color: $color-oro;
}
.color-primario {
    color: $color-primario;
}
.color-secundario {
    color: $color-secundario;
}
.bg-secundario {
    background-color: $color-secundario;
}
.bg-blanco {
    background-color: $color-blanco;
}
.contenedor-titulo-pagina {
    margin-bottom: 1.6em;
    padding: 0.8em 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    .contenido-titulo-pagina {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90% !important;
        margin: 0 auto;
        h2 {
            font-size: 1.6em;
            font-weight: 600;
        }
    }
}
.dropdown-menu {
    z-index: 10000;
}
.container-fluid {
    width: 98% !important;
}
.contenedor-pagina {
    margin-top: 4.2em;
}
@media (min-width: $laptop) {
    .container-fluid {
        width: 90% !important;
    }  
    .contenedor-pagina {
        margin-top: 4.8em;
    }
    .contenedor-titulo-pagina {
        margin-bottom: 1.6em;
        padding: 0.8em 0;    
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        .contenido-titulo-pagina {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90% !important;
            margin: 0 auto;
            h2 {
                font-size: 1.6em;
                font-weight: 600;
            }
        }
    }
}
.modal {
    z-index: 100000;
}
.btn-outline-secundario {
    color: $color-secundario;
    border: 1px solid $color-secundario;
}