//colores
$color-primario: #0B38BF;
$color-llamativo: #F2A71B;
$color-blanco: #f5f5f5;
$color-negro: #333333;

//fuentes
$fuente-primaria: 'Cardo', serif;
$fuente-secundaria: 'EB Garamond', serif;
$fuente-parrafo: 'Montserrat', sans-serif;