//colores
$color-primario: #392F7F;
$color-secundario: #735FFF;
$color-terciario: #5B567F;
$color-oro: #f3da35;

$color-blanco: #f5f5f5;
$color-negro: #333333;
$color-gris: #cacaca;

//fuentes
$fuente-primaria: 'League Spartan', sans-serif;
$fuente-secundaria: 'Raleway', sans-serif;
$fuente-parrafo: 'Nunito', sans-serif;

//tamaños de pantlla
$celular: 390px;
$tablet: 768px;
$laptop: 1440px;