.contenedor-wishlist {
    list-style: none;
    padding: 0;
    .wishlist {
        .accordion-item {
            .accordion-header {
                .contenedor-wishlist-header {
                    display: grid;
                    grid-template-columns: 1fr 0.05fr 0.05fr;
                    align-items: center;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;       
                    border-radius: 0.4em;
                    .accordion-button {
                        display: flex;
                        justify-content: flex-start;
                        &::after {
                            display: none;
                        }
                        &:not(.collapsed)::after {
                            background: none;  
                        }
                    }
                    .boton-wishlist {
                        height: 100%;
                        padding: 0.8em;
                    }
                }
            }

        }
        .producto-wishlist {
            display: flex;
            flex-direction: row;
            gap: 1em;

            .informacion-producto-wishlist {
                .titulo-producto {
                    display: flex;
                    flex-direction: column;
                }
                h2 {
                    font-weight: 500;
                    font-size: 1.2em;
                }
                h4 {
                    font-size: 1em;
                    font-weight: 600;
                    margin-bottom: 0.4em;
                    span {
                        font-weight: 400;
                        margin-right: 0.4em;
                    }
                }
                .calificacion-producto-wishlist {
                    display: flex;
                    align-items: center;
                    gap: 0.8em;
                    margin-bottom: 0.6em;
                    p,i {
                        font-size: 0.8em;
                    }
                }
                .botones-producto-wishlist {
                    display: flex;
                    flex-direction: column;
                    gap: 0.6em;
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.imagen-producto-wishlist {
    width: 170px;
    height: 170px;
    background-image: url(../img/producto.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

// .boton-wishlist {
//     width: 100%;
//     margin-bottom: 0.4em;
// }

@media (min-width:$laptop) {
    .contenedor-wishlist {
        .wishlist {
            .accordion-item {
            .producto-wishlist {
                .imagen-producto-wishlist {
                    width: 10%;
                    height: 100px;
                }
                .informacion-producto-wishlist {
                    .titulo-producto {
                        flex-direction: row;
                        gap: 10em;
                    }
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .calificacion-producto-wishlist {
                        p,i {
                            font-size: 1em;
                        }
                    }
                    .botones-producto-wishlist {
                        flex-direction: row;
                    }
                }
            }
        }
    }
    }
}